@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  @keyframes fadeOut {
    0%, 80% { opacity: 1; }
    100%    { opacity: 0; }
  }
  
  .animate-fadeOut {
    animation: fadeOut 4s forwards;
  }
  
  .loader {
  border-top-color: #6366f1; /* indigo-500 */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
